html{
    font-size: 62.5%;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Poppins', sans-serif;
}

.container{
    max-width: 1400px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: ;
   
    gap: 22px;
    padding: 10px;
}

.cartas{
    border-radius: 12px ;
    background-color: lightblue;
    padding: 30px;
}

.personaje{
    display: flex;
    column-gap: 15px;
    align-items: center;
    margin-bottom: 20px;
   
}

.personaje img{
    display: inline-block;
    width: 35px;
    height: 35px;
    border: 1px solid black;
    border-radius: 100%;
    background-color: red;
}

.info h2{
    font-size: 1.8rem;
    color: white;
    font-weight: 450;
}

.info p{
    font-size: 1.3rem;
}

.titulo{
    margin-bottom: 20px;
}

.titulo h2{
    font-size: 2.4rem;
    line-height: 1.2;
}

.texto p{
    font-size: 1.4rem;
}



.cartas:first-child{
    
    grid-column: 1/ span 3;
   
   
    
}

